{% extends 'base.html' %}
<!-- might have to relocate to the main app -->

{% block head %}
<title>Piki Main</title>
{% endblock %}

{% block content %}
<p>Here is a thing, a thing of thinginess, a thinnnng, a thing.</p>

<p>Currently signed in as: {{user}}</p>

<button action="{% url 'users:logout' %}" class='logoutbutton'>Logout</button>

<button action ="{% url 'users:profile' %}"class='profilebutton'>Profile</button>
<!-- on profile click, goes to profile where they can put in a bio and check boxs of dietary stuff -->
<!-- create click event for button click -->
<p>Profile of matches goes here</p>

{{match}}

{% endblock %}