.navbar-default {
  background-color: #45a8c1;
  border-color: #97cfd8;
}
.navbar-default .navbar-brand {
  color: #b2d2d9;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f6f5f5;
}
.navbar-default .navbar-text {
  color: #b2d2d9;
}
.navbar-default .navbar-nav > li > a {
  color: #b2d2d9;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f6f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f6f5f5;
  background-color: #97cfd8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f6f5f5;
  background-color: #97cfd8;
}
.navbar-default .navbar-toggle {
  border-color: #97cfd8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #97cfd8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #b2d2d9;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #b2d2d9;
}
.navbar-default .navbar-link {
  color: #b2d2d9;
}
.navbar-default .navbar-link:hover {
  color: #f6f5f5;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b2d2d9;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f6f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f6f5f5;
    background-color: #97cfd8;
  }
}